@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wobble {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-8px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(8px);
  }
}

.animate-wobble {
  animation: wobble 0.5s ease-in-out;
}

